<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timetable_user.user_id %>
</p>

<p>
  <strong>Timetable:</strong>
  <%= @timetable_user.timetable_id %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @timetable_user.notice %>
</p>

<p>
  <strong>Program name:</strong>
  <%= @timetable_user.program_name %>
</p>

<%= link_to 'Edit', edit_timetable_user_path(@timetable_user) %> |
<%= link_to 'Back', timetable_users_path %>
