<%= form_for(timetable) do |f| %>
  <% if timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% timetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datetime %>
    <%= f.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= f.label :starttime %>
    <%= f.datetime_select :starttime %>
  </div>

  <div class="field">
    <%= f.label :endtime %>
    <%= f.datetime_select :endtime %>
  </div>

  <div class="field">
    <%= f.label :timetable_users, "住所" %><br />
    <%= f.fields_for :timetable_users do |tuf| %>
      <%= tuf.label :user_id %>
      <%= tuf.number_field :user_id %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
